# Ignore Python virtual environment
env/

# Ignore environment variable files
.env
.env.*
.{env_name}

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

*.zip
