[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/kabadi_backend/Kabadi_Techno
ExecStart=/home/ubuntu/kabadi_backend/Kabadi_Techno/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          Kabadi_Techno.wsgi:application
[Install]
WantedBy=multi-user.target
